body{
	background-color: purple;
	font-family: copperplate gothic light;
}
p {
    color:red;
}
nav {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}
nav ul{
	width: 100%;
}
nav ul li{
	display: inline-table;
	border: 1px solid black;
	margin-right: 4px;
	padding: 20px;
	background-color: white;
	height: 100%;
	width: 160px;
	text-align: center;
}
nav ul li a{
	width: 100%;
	height: 100%;
}
#bild {
	width: 80%;
}
#ticket{
	border: 1px solid red;
    background-color:black;
	width: 300px;
	float: left;
	margin: 10px;
}
#tickets{
	border: 1px solid red;
    background-color:black;
	width: 300px;
	float: left;
	margin: 10px;
	height: 700px;
}
#inticket {
	margin: 0 auto;
	text-align: center;
}
#loginname {
	margin-top: 10%;
	color: red;
}
#proff {
	color: red;
	position: relative;
	margin-top: 10% ;
	background-color: black;
	border: 1px solid red;
	width: 	400px;
}
#head{
    width:80%;
	margin-left: 10%;
    margin-right:10%;
}
#knapp {
	border: 1px solid black; 
	background-color: white;
	width: 180px;
	text-align: center;
	display: inline-table;
	padding: 20px;
}
#msg {
	width: 400px;
	height: 200px;
	background-color: #fff;
}
#full {
	width: 100%;
}
#left {
	float:left;
	width: 45%;
}
#right {
	float:right;
	width: 45%;
	margin-top: 3%;
}
#right p{
	color: cyan;
}
.showProduct{
	top: 2px;
	border: 1px solid red;
	display: none;
	width:98%;
	text-align: center;
	height:98%;
	position: fixed;
	background-color: black;
	color: red;
}
/*Container med innehåll av produkter*/
#container {
float: left;
}
#leftc {
	position: absolute;
	width: 44%;
	margin-top: 0%;
	
}
#leftc img {
	width: 75%;
}
#rightc {
	text-align: center;
	text-overflow: none;
	width: 50%;
	position: absolute;
	right: 0px; 
}
.showProduct img {
	position: absolute;
	top: 0px;
	left: 0px;
	width:30%; 
}
/*Read reviews*/
#all {
	width: 98%;
	float: left;
	position: absolute;
}
#review {
	float: left;
	border: 1px solid red;
	background-color: black;
	color: red;
	position: relative;
	margin: 1%;
	width: 300px;
	text-align: center;
	text-overflow: none;
}
#back {
	color: red;
}
